.card {
    border-radius: 5px;
    backdrop-filter: blur(10px);
    max-width: 20%;
    min-width: 300px;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    box-sizing: border-box;
    scale: 1;
    box-shadow: none;
    transition: all 0.3s ease;
    color: #e6e4e4;
    position: relative;

    &>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &:hover {
        scale: 1.03;
        box-shadow: 5px 5px 20px 5px #cdcbcb;
    }
    & > div > .MuiButtonBase-root {
        scale: 1.05;
        border-color: #fff;
        color: #fff;
        display: none;
        visibility: hidden;
        opacity: 0;    
    }
    & > .MuiButtonBase-root {        
        display: none;
        visibility: hidden;
        opacity: 0;    
    }

    &:hover .MuiButtonBase-root {
        display: block;
        visibility: visible;
        animation: button 3s ease both;
    }
}



@keyframes button {
    0% {
        /* display: none;
        visibility: hidden; */
    }

    75% {
        /* display: none;
        visibility: hidden; */
        opacity: 0;
    }

    100% {
        opacity: 1;
        /* display: block;
        visibility: visible; */
    }
}