body {
  --width-desktop: 1440px;
  --width-mobile: 320px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-image: url('./images/main_background.jpg');
  background-position: center;
  background-size: auto;
  background-position-y: -80px;
  background-repeat: no-repeat;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}